#map {
    height: 60%;
}

.mapita {
    height: 50px;
    margin: 0;
    padding: 0;
}

.busqueda {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.entrada {
    width: 600px;
    height: 50px;
    font-size: 1.5rem;
    text-align: center;
}

.div-button {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.botoncito {
    border-radius: 20px;
    width: 250px;
}